<nav class="navbar navbar-expand-lg navbar-light fixed-top">
  <a class="navbar-brand text-danger font-weight-bold" href="{{ url_for('index') }}">myPages &#8314;</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <a class="nav-link text-danger font-weight-bold" href="{{ url_for('index') }}">Home</a>
    </ul>
    <a class="btn btn-outline-danger my-sm-0 mr-2" href="{{ url_for('login') }}" role="button">Login</a>
    <a class="btn btn-outline-danger my-sm-0" href="{{ url_for('register') }}" role="button">Register</a>
  </div>
</nav>